node_modules
wordpress/*
wordpress/wp-content/themes/twentynineteen
wordpress/wp-content/themes/twentyseventeen
wordpress/wp-content/themes/twentysixteen
!wordpress/wp-content/
!wordpress/wp-content/themes/njhess
!wordpress/wp-content/mu-plugins/
!wordpress/wp-content/plugins/
wordpress/.*
wordpress/wp-content/plugins/hello.php
wordpress/wp-content/plugins/akismet/
!.gitignore

