.home-banner {
    padding: 10px 0;
    background-color: $mainGray;
    margin-bottom: 20px;

    @mixin atSmall {
        padding: 20px 0
    }
    
    &__img {
        border: 10px solid $mainBrown;
    }

    &__rule {
        clear: both;
        width: 75px;
        margin: 40px 0;
        border-top: 1px solid $mainBrown;
        border-bottom: 0;
    }

    &__social-icons {
        margin-bottom: 20px;
        color: $mainBrown;
    }

    &__icon {
        font-size: 1.5rem;
        margin: 5px 10px 0 0;

        @mixin atMedium {
            font-size: 3rem;
            
            margin: 10px 20px 0 0;
        }
    }
}